*{
    margin:0;
    padding:0;
    font-family:'poppins','sans-serif';
}
body{
background:#001e4d;

}

.app{
  width:90%;
  max-width: 300px;
  background-color: #fff;
  margin: 100px auto;
  border-radius: 10px;
  padding: 30px;

}

.app h1{
    font-size: 20px;
    color:#001e4d;
    font-weight: 600;
    padding-bottom: 30px;
    border-bottom: 1px solid grey;
}
.quiz{
  padding: 20px 0;
}
.quiz h2{
    font-size:18px;
    font-weight:18px;
    margin-bottom: 20px;
}
.btn{
   background-color: #fff;
   color:#222;
   font-weight: 500;
   width: 100%;
   border: 1px solid #222;
   padding: 8px;
   margin:10px 0;
   text-align: left;
   border-radius: 4px;
   cursor:pointer;
}
.btn:hover{
    background-color:#001e4d;
    color:white;
}

#next-btn{
   background-color: #001e4d;
   color:white;
   padding: 12px 13px;
   border-radius: 8px;
   text-align: right;
   margin:10px auto 0;
   display: block;

}

.correct{

  background-color:green;
  color: #fff;
 
}
.incorrect{

  background-color:red;
  color: #fff;
}